/* password.css */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* background-color: #002339; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("./4-UTvPCtMWm-transformed.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.contenires {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 320px;
  /* background-image: url("./2.jpeg"); */
  /* background-image: url('img_girl.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.name h1 {
  font-size: 26px;
  color: #333;
  margin-bottom: 25px;
}

.name h1 span {
  color: #3498db;
}

.password {
  position: relative;
  margin-bottom: 25px;
}

.password input {
  width: 80%;
  padding: 12px 15px;
  padding-right: 40px; /* Extra space for the icon */
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.password input:focus {
  border-color: #3498db;
}

.password img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.password img:hover {
  opacity: 1;
}

.submit input {
  background-color: #3498db;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
}

.submit input:hover {
  background-color: #2980b9;
}
